<!DOCTYPE html>
<html>
  <head>
    <title>Quiz App - Home</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">

  </head>
  <body>
    <h1>Welcome to Quiz App!</h1>
    <p>Test your Science topics knowledge with our fun quizzes!</p>
      <img src="https://cutt.ly/j8MqU37" alt="jpg" >
    <p>Already have an account? <a href="/login">Login</a> now.</p>
    <p>New to the Quiz App? <a href="/register">Sign up</a> now.</p>
    <footer>
      <p>&copy; 2023 Quiz App. All rights reserved.</p>
    </footer>
  </body>
</html>


<p>New to the Quiz App? <a href="/register">Sign up</a> now.</p>