<!DOCTYPE html>
<html>
  <head>
    <title>Quiz App - Home</title>
  </head>
  <body>
    <h1>Welcome to Quiz App!</h1>
    <p>Test your Science topics knowledge with our fun quizzes!</p>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/about">About Us</a></li>
        <li><a href="/contact">Contact Us</a></li>
      </ul>
      <img src="https://rb.gy/nbbx8m" alt="jpg" style="width:300px;height:200px;">
    </nav>
    <p>Already have an account? <a href="/login">Login</a> now.</p>
    <p>New to the Quiz App? <a href="/register">Sign up</a> now.</p>
    <footer>
      <p>&copy; 2023 Quiz App. All rights reserved.</p>
    </footer>
  </body>
</html>


<p>New to the Quiz App? <a href="/register">Sign up</a> now.</p>